<html ng-app="mailClient">
    <head>
        <title>Lavabit | Home</title>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-material-design.css">
        <link rel="stylesheet" href="../stylesheets/base.css">
    </head>
    <body>
        <input type="hidden" value="<%= id %>" id="_id">
        <div class="row">
            <div class="navbar navbar-danger main-nav">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Lavabit</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-warning-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                            <input type="text" class="form-control col-md-8" placeholder="Search">
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" data-toggle="modal" data-target="#compose">Compose</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-controller="inboxController">
            <div class="col-md-3 zero-padding">
                <div class="well sidebar">
                   <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                        <li class="active"><a href="#"> <span class="fa fa-inbox "></span> Inbox</a></li>
                        <li><a href="#">Sent</a></li>
                        <li><a href="#">Starred</a></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 inbox-panel">
                <div class="scroll">
                    <div class="panel panel-danger zero-margin" ng-repeat="msg in inbox">
                        <div class="panel-heading">
                            <h3 class="panel-title">From: {{ msg.from }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4><a href="#" ng-click="fetchMsg(msg._id)" class="silent-link">{{ msg.subject }}</a></h4>
                            <p>{{ msg.message }}</p>
                        </div>    
                    </div>
                </div>
            </div>

            <div class="col-md-6 message-panel">
                <div class="panel panel-danger zero-margin message-panel-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">From: {{ message.from }}</h3>
                    </div>
                    <div class="panel-body">
                        <h4><a href="{{ msg._id }}" class="silent-link">{{ message.subject }}</a></h4>
                        <p>{{ message.message }}</p>
                    </div>    
                </div>
            </div>

            <div class="modal" id="compose" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Send Email</h4>
                    </div>
                <div class="modal-body">
                    <form action="#">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputFrom" class="col-md-2 control-label">From</label>

                                <div class="col-md-10">
                                    <input type="email" ng-model="mail.from" class="form-control" name="from" id="inputFrom" placeholder="From...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputTo" class="col-md-2 control-label">To</label>

                                <div class="col-md-10">
                                    <input type="email" ng-model="mail.to" class="form-control" name="to" id="inputTo" placeholder="To...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSubj" class="col-md-2 control-label">Subject</label>

                                <div class="col-md-10">
                                    <input type="text" ng-model="mail.subject" class="form-control" name="subject" id="inputSubj" placeholder="Subject...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputMessage" class="col-md-2 control-label">Message</label>

                                <div class="col-md-10">
                                    <textarea class="form-control" ng-model="mail.text" name="message" id="inputMessage" placeholder="Message..."></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="sendMail()">Send</button>
                    </div>
                </div>
            </div>
        </div>

        </div>

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <!-- <link rel="stylesheet" href="../bower_components/bootstrap/dist/js/bootstrap.min.js"> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="../javascripts/material.js"></script>
        <script src="../javascripts/angular.js"></script>
        <script src="../javascripts/app.js"></script>
        <script>
            $.material.init();
            $.material.input();
            $.material.checkbox();
            $.material.radio();
        </script>
    </body>
</html>