<html>
    <head>
        <title>Lavabit | Login</title>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../stylesheets/bootstrap-material-design.css">
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="jumbotron padding">
                        <form class="form-horizontal" action="/users/login" method="POST">
                            <fieldset>
                                <legend><h1>Lava<span>bit</span></h1></legend>
                               
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p>
                                        Lavabit is an end-to-end encrypted email server, Lavabit is ad-free
                                        and prioritizes privacy and security above all else.
                                        </p>
                                    </div>
                                </div>
                                <% if(message) { %>
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p>
                                            <%= message %> 
                                        </p>
                                    </div>
                                </div>
                                <% } %>

                                <div class="form-group">
                                    <label for="inputEmail" class="col-md-2 control-label">Email</label>

                                    <div class="col-md-10">
                                        <input type="email" class="form-control has-warning" id="inputEmail" placeholder="Email..." name="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-md-2 control-label">Password</label>

                                    <div class="col-md-10">
                                        <input type="password" class="form-control has-warning" id="inputPassword" placeholder="Password..." name="password">
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 0;">
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="togglebutton has-warning">
                                            <label>
                                                <input type="checkbox" checked=""> remember me?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <button type="submit" class="btn btn-raised btn-danger">Login</button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <a href="/users/signup">Don't have an account? Signup</a>
                                    </div>
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../javascripts/material.js"></script>
        <script>
            $.material.init();
            $.material.input();
            $.material.checkbox();
            $.material.radio();
        </script>
    </body>
</html>