
.main-nav {
    margin-bottom: 0;
}

.sidebar {
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 0;
    height: 100%;
}


.sidebar a {
    color: #fff;
}

.nav-pills li a:hover {
    background-color: #555;
    color: #fff;
}

.inbox-panel, 
.zero-padding {
    padding: 0;
    margin-bottom: 0;
}

.zero-margin {
    margin-bottom: 
}